section#switcher {
  /* position */
  position: fixed;
  inset: 0;
  z-index: 999;

  /* sizing */
  height: 100dvh;
  padding: 10px;
}

section#switcher > div.container {
  /* sizing */
  height: 100%;
  padding: 10px;
  overflow-x: scroll;

  /* flex */
  display: flex;

  /* styling */
  border-radius: 10px;
  background-color: var(--background-color-200);
}

body.oled section#switcher > div.container {
  /* styling */
  background: black;
  outline: 3px solid var(--background-color-100);
  outline-offset: -3px;
}

section#switcher > div.container > ul {
  /* spacing */
  width: 100%;
  min-height: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* styling */
  list-style: none;
}

section#switcher > div.container > ul > li {
  /* sizing */
  width: 100%;
  height: 25dvh;

  /* styling */
  border-radius: 10px;
  background: var(--background-color-100);
  overflow: hidden;
}

body.oled section#switcher > div.container > ul > li {
  /* styling */
  background: initial;
  outline: 3px solid var(--background-color-100);
  outline-offset: -3px;
}

section#switcher > div.container > ul > li > a,
section#switcher > div.container > ul > li > button {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;

  /* styling */
  border: none;
  color: var(--foreground-color-100);
  background-color: transparent;
}
section#switcher > div.container > ul > li:hover,
section#switcher > div.container > ul > li:focus-within {
  /* styling */
  outline: 2px solid;
  outline-offset: -2px;
  outline-color: currentColor !important;
}
section#switcher > div.container > ul > li:focus-within {
  /* styling */
  outline-color: var(--selector-color) !important;
}

section#switcher > div.container > ul > li:active,
section#switcher > div.container > ul > li:active {
  /* styling */
  background: var(--background-color-300);
}

section#switcher > div.container > ul > li > button .indicator {
  /* position */
  position: absolute;
  inset: 5px;
  bottom: auto;

  /* sizing */
  padding: 4px 10px;

  /* text */
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;

  /* styling */
  border-radius: 5px;
  color: white;
  background-color: red;
}